@{
    ViewData["Title"] = "Home Page";
}

<div id="slider">

    <div class="container">
        <div id="sliderText">
            <h1>
                Créez un compte Ishare pour obtenir un généreux espace de stockage de 30 Go
            </h1>
            <p>
                Service de stockage nuagique et communications sécurisés
            </p>
            <a href="../Identity/Account/Register" class="btn1">Register</a>
            <a href="../Identity/Account/Login" class="btn2">Login</a>
        </div>
        <div id="sliderImage">
            <div class="sliderImage">
                <img src="/Images/slider.png" />
            </div>
        </div>
    </div>
</div>
<div id="works">
    <div class="works">
        <h4>
            Un stockage fiable et des transferts rapides
        </h4>
        <img src="/Images/start_i.png" />
        <p>
            Avec Ishare, le stockage nuagique sécurisé est simple et pratique. <br />
            Créez un compte Ishare gratuit dès aujourd’hui. <br /> <br />

            Vous pouvez échanger des messages, partager vos fichiers <br />
            et faire des appels vocaux ou vidéo grâce au dialogue en ligne <br />
            chiffré de bout en bout de Ishare.
        </p>
    </div>
</div>
<div id="news">

    <h1>
        Que pouvez-vous faire avec Ishare ?
    </h1>
    <div class="news">
        <img src="/Images/1.jpg" />
        <h2>Dialoguer en toute sécurité</h2>
        <p>
            Établissez un lien avec vos contacts sur MEGA et maintenez la communication ;
            échangez des messages et faites des appels vocaux, vidéo ou de groupe en toute sécurité avec le dialogue en ligne MEGAchat.



    </div>
    <div class="news">
        <img src="/Images/2.jpg" />
        <h2>Sauvegarder</h2>
        <p>
            Sauvegardez automatiquement les photos ou les vidéos de votre appareil mobile grâce aux Téléversements de l’appareil photo et synchronisez les données de votre ordinateur avec l’appli MEGA pour ordinateur.
            MEGA conserve automatiquement des versions historiques de vos fichiers, ce qui vous permet de facilement revenir en arrière si besoin est.
        </p>
    </div>
    <div class="news">
        <img src="/Images/3.jpg" />
        <h2>Synchroniser</h2>
        <p>Une synchronisation automatique et facile entre votre ordinateur et votre nuage MEGA.</p>
    </div>
</div>

